{% extends 'base.html' %}
{% block content %}
<h2>تعديل مدرس</h2>
<form method="post">
    <div class="form-group"><label>الاسم</label><input value="{{ teacher.name }}" class="form-control" name="name" required></div>
    <div class="form-group"><label>القسم</label><input value="{{ teacher.department }}" class="form-control" name="department" required></div>
    <div class="form-group"><label>المادة</label><input value="{{ teacher.subject }}" class="form-control" name="subject" required></div>
    <button class="btn btn-primary" type="submit">تحديث</button>
</form>
{% endblock %}
