{% extends 'base.html' %}
{% block content %}
<h2>إضافة مادة</h2>
<form method="post">
    <div class="form-group"><label>الاسم</label><input class="form-control" name="name" required></div>
    <div class="form-group"><label>الكود</label><input class="form-control" name="code" required></div>
    <div class="form-group"><label>القسم</label><input class="form-control" name="department" required></div>
    <button class="btn btn-success" type="submit">حفظ</button>
</form>
{% endblock %}
